<!DOCTYPE html>
<html>
<head>
  <title>PolishApp</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/10.0.2/ng-file-upload.js" %>

  <%= csrf_meta_tags %>

</head>
<body ng-app="myapp">
 <!--  Header -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/polishes">Polish App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#/polishes">Add Polish</a></li>
          <li><a href="#">My Collection</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
        <!--   <input type="text" class="form-control" placeholder="Search..."> -->
        </form>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Something tbd<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Brands</a></li>
            <li><a href="#">Color</a></li>
            <li><a href="#">###</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Ad Here</a></li>
            <li><a href="">Ad Here</a></li>
            <li><a href="">Ad Here</a></li>
            <li><a href="">Ad Here</a></li>
            <li><a href="">Ad Here</a></li>
          </ul>
        </div>

        <div ng-view class="col-lg-10">
        </div>

      </div>
    </div>
</body>
</html>
